.cards-container {
	height: 90vh;
	width: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: start;
	background-color: #1f1f1f;
	top:0;
	margin-top: 0;
}
img {
	
	display: block;
	height: 100px;
}

.cards-container .title  {
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-color: var(--c-olive-500);
}

.tiles {
	display: grid;
	align-items: center;
	justify-content: center;
	width: 20vw;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1rem;
	row-gap: 1rem;
	margin-top: 1.25rem;
	@media (max-width: 700px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.tile {
	padding: 1rem;
	border-radius: 8px;
	background-color: var(--c-olive-500);
	color: var(--c-gray-900);
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	transition: 0.25s ease;

	&:hover {
		transform: translateY(-5px);
		cursor: pointer;
	}

	&:focus-within {
		box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
	}

	&:nth-child(2) {
		background-color: var(--c-green-500);
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-green-500);
		}
	}
	&:nth-child(3) {
		background-color: var(--c-gray-300);
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
		}
	}

	a {
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;

		.icon-button {
			color: inherit;
			border-color: inherit;
			&:hover,
			&:focus {
				background-color: transparent;
				i {
					transform: none;
				}
			}
		}

		&:focus {
			box-shadow: none;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}

.create-card {
	background-color: transparent;
	border: none;
}

.tile-header {
	display: flex;
	align-items: center;
	i {
		font-size: 2.5em;
	}

	h3 {
		display: flex;
		flex-direction: column;
		line-height: 1.375;
		margin-left: 0.5rem;
		span:first-child {
			font-weight: 600;
		}

		span:last-child {
			font-size: 0.825em;
			font-weight: 200;
		}
	}
}

/* Add these styles to your CSS file */
/* Add these styles to your CSS file */
.spinner-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px; /* Adjust the height as needed */
  }
  
  .spinner {
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-top: 4px solid #3498db;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 1s linear infinite;
	margin: auto;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

 