.cards-container {
	height: 90vh;
	width: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: start;
	background-color: #1f1f1f;
	top:0;
	margin-top: 0;
}
img {
	
	display: block;
	height: 100px;
}

.cards-container h1 {
	text-transform: uppercase;
}

.tiles {
	display: grid;
	align-items: center;
	justify-content: center;
	width: 20vw;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1rem;
	row-gap: 1rem;
	margin-top: 1.25rem;
	@media (max-width: 700px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.tile {
	padding: 1rem;
	border-radius: 8px;
	background-color: var(--c-olive-500);
	color: var(--c-gray-900);
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	transition: 0.25s ease;

	&:hover {
		transform: translateY(-5px);
		cursor: pointer;
	}

	&:focus-within {
		box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
	}

	&:nth-child(2) {
		background-color: var(--c-green-500);
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-green-500);
		}
	}
	&:nth-child(3) {
		background-color: var(--c-gray-300);
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
		}
	}

	a {
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;

		.icon-button {
			color: inherit;
			border-color: inherit;
			&:hover,
			&:focus {
				background-color: transparent;
				i {
					transform: none;
				}
			}
		}

		&:focus {
			box-shadow: none;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}

.create-card {
	background-color: transparent;
	border: none;
}

.tile-header {
	display: flex;
	align-items: center;
	i {
		font-size: 2.5em;
	}

	h3 {
		display: flex;
		flex-direction: column;
		line-height: 1.375;
		margin-left: 0.5rem;
		span:first-child {
			font-weight: 600;
		}

		span:last-child {
			font-size: 0.825em;
			font-weight: 200;
		}
	}
}

/* Add these styles to your CSS file */
/* Add these styles to your CSS file */
.spinner-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px; /* Adjust the height as needed */
  }
  
  .spinner {
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-top: 4px solid #3498db;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 1s linear infinite;
	margin: auto;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

  .iphone-x {
	position: relative;
	margin: 40px auto;
	width: 360px;
	height: 780px;
	background-color: #7371ee;
	background-image: linear-gradient(60deg, #7371ee 1%,#a1d9d6 100%);
	border-radius: 40px;
	box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
	
	&:before,
	&:after{
	  content: '';
	  position: absolute;
	  left: 50%;
	  transform: translateX(-50%);
	}
	
	// home button indicator
	&:after {
	  bottom: 7px;
	  width: 140px;
	  height: 4px;
	  background-color: #f2f2f2;
	  border-radius: 10px;
	}
	
	// frontal camera/speaker frame
	&:before {
	  top: 0px;
	  width: 56%;
	  height: 30px;
	  background-color: #1f1f1f;
	  border-radius: 0px 0px 40px 40px;
	}
	
	i,
	b,
	s,
	span {
	  position: absolute;
	  display: block;
	  color: transparent;
	}
	
	// speaker
	i {
	  top: 0px;
	  left: 50%;
	  transform: translate(-50%, 6px);
	  height: 8px;
	  width: 15%;
	  background-color: #101010;
	  border-radius: 8px;
	  box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
	}
	
	// camera
	b {
	  left: 10%;
	  top: 0px;
	  transform: translate(180px, 4px);
	  width: 12px;
	  height: 12px;
	  background-color: #101010;
	  border-radius: 12px;
	  box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
	  
	  &:after {
		content: '';
		position: absolute;
		background-color: #2d4d76;
		width: 6px;
		height: 6px;
		top: 2px;
		left: 2px;
		top: 3px;
		left: 3px;
		display: block;
		border-radius: 4px;
		box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
	  }
	}
	
	// time
	s {
	  top: 50px;
	  color: #fff;
	  text-align: center;
	  text-decoration: none;
	  width: 100%;
	  font-size: 70px;
	  font-weight: 100;
	  padding-top: 60px;
	}
	
	// action buttons
	span {
	  bottom: 50px;
	  width: 40px;
	  height: 40px;
	  background-color: rgba(0, 0, 0, 0.3);
	  border-radius: 50%;
	  left: 30px;
	  
	  & + span {
		left: auto;
		right: 30px;
	  }
	}
  }