/* styles.css */

.graph-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .graph-container svg {
    width: 100%;
    height: auto;
  }
  
  .axis text {
    font-size: 12px;
    color: white;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #fff;
  }
  
  .bar {
    fill: steelblue;
  }
  
  .bar:hover {
    fill: #4682b4;
  }
  