@font-face {
	font-family: 'akira';
	src: url('https://cdn.shopify.com/s/files/1/0733/7767/7577/files/akira.otf?v=1712083465');
  }
  
  @font-face {
	font-family: 'mexicana';
	src: url('https://cdn.shopify.com/s/files/1/0733/7767/7577/files/Mexicana.ttf?v=1712083466');
  }
  
  @font-face {
	font-family: 'Montserrat';
	src: url('https://cdn.shopify.com/s/files/1/0733/7767/7577/files/Montserrat-Medium.ttf?v=1712083466');
  }
  
  @font-face {
	  font-family: 'SF';
	  src: url('https://cdn.shopify.com/s/files/1/0733/7767/7577/files/SF.OTF?v=1712083466');
  }
  @font-face {
	  font-family: 'SFBOLD';
	  src: url('https://cdn.shopify.com/s/files/1/0733/7767/7577/files/SFBOLD.OTF?v=1712083466');
  }
  

.header-container {
    width: 100%;
	font-family: 'SF';
}

.dashboard-header {
	display: grid;
	grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(
			max-content,
			400px
		);
    margin-left: 10%;
	column-gap: 7rem;
	background-color: transparent;
	align-items: center;
	@media (max-width: 1200px) {
		z-index: -1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--c-gray-600);
	}
}

.dashboard-header-navigation {
	margin-top:20px;
	@media (max-width: 1200px) {
		display: none;
	}
}

.dashboard-header-actions {
	display: flex;
	align-items: center;
	@media (max-width: 1200px) {
		display: none;
	}
}

.dashboard-header-actions-buttons {
	display: flex;
	border-left: 1px solid var(--c-gray-600);
	margin-left: 2rem;
	padding-left: 2rem;

	& > * + * {
		margin-left: 1rem;
	}
}

.dashboard-header-mobile {
	display: flex;
  	align-items: center;
	margin-right: 110px;
	margin-left: -50px;
}

.tabs {
	display: flex;
	justify-content: space-between;
	color: #3e7461;
	border-bottom: 1px solid var(--c-gray-600);
	padding-bottom: 10px;
	a {
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin: 10px;
		color: white;
		text-decoration: none;
		border-top: 2px solid transparent;
		display: inline-flex;
		transition: 0.25s ease;
		&.active,
		&:hover,
		&:focus {
			color: #3e7461;
			border-color: var(--c-text-primary);
		}
	}
	button{
		color:#3e7461;
		background: transparent;
		font-family: 'SF';
		font-size: 1.2rem;
	}
}


.dashboard-header-logo{
	height: 80px;
	
	padding-top: 0;
	margin-top: 0;
	display: flex;
	flex-direction: row;
	@media (max-width: 1000px){
		display: flex;
		align-items: center;
		padding-left: 50px;
	}
}



.dashboard-logo {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--c-gray-600);
	@media (max-width: 1200px) {
		border-bottom: 0;
	}
}

.dashboard-logo-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 110px;
	height: 75px;
	margin-top:20px;
	@media (max-width:1000px){
	justify-content: start;
		margin-top: 20px;
		margin-left: 0;
	}
}

.logo-title {
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 35px;
	background-image: linear-gradient(to right, #3e7461, #96c9b7);
    background-clip: text;
    /* Fallback: Set a background color. */
    background-color: white;
    font-weight: bolder;
    /* Create the gradient. */
    font-family: 'SFBOLD';
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}


.dashboard-header.menu-open {
	.mobile-menu {
	  transform: translateX(0);
	  z-index: 999;
	}
  }
  
  .mobile-menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #1f1f1f; /* You can adjust the background color */
	width: 100svw; /* You can adjust the width */
	padding: 2rem;
	box-sizing: border-box;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
  
	a {
	  display: block;
	  color: white;
	  text-decoration: none;
	  padding: 1rem;
	  font-size: 1.2rem;
	  border-bottom: 1px solid #444; /* You can adjust the border color */
	}
  }

  .user-profile {
	display: flex;
	align-items: center;
	border: 0;
	background: transparent;
	cursor: pointer;
	color: var(--c-text-tertiary);
	transition: 0.25s ease;
    padding-top: 10%;
	&:hover,
	&:focus {
		color: var(--c-text-primary);
		span:last-child {
			box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
		}
	}

	span:first-child {
		display: flex;
		font-size: 1.125rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid var(--c-gray-600);
		font-weight: 300;
		color: rgb(147, 146, 146);
		font-family: 'SF';
	}

	span:last-child {
		transition: 0.25s ease;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		overflow: hidden;
		margin-left: 1.5rem;
		flex-shrink: 0;
	}
}
.icon-button {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 0;
	background-color: transparent;
	border: 1px solid var(--c-gray-500);
	color: var(--c-text-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.25s ease;
	flex-shrink: 0;
	&.large {
		width: 42px;
		height: 42px;
		font-size: 1.25em;
	}

	i {
		transition: 0.25s ease;
	}

	&:hover,
	&:focus {
		background-color: var(--c-gray-600);
		box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
	}
}

.user-profile img{
	max-width: 100%;
	display: block;
    height: auto;
}