.header-container {
    min-width: auto;

}

.dashboard-header {
	display: grid;
	grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(
			max-content,
			400px
		);
    margin-left: 10%;
	column-gap: 7rem;
	background-color: transparent;
	align-items: center;
	@media (max-width: 1200px) {
		z-index: -1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--c-gray-600);
	}
}

.dashboard-header-navigation {
	@media (max-width: 1200px) {
		display: none;
	}
}

.dashboard-header-actions {
	display: flex;
	align-items: center;
	@media (max-width: 1200px) {
		display: none;
	}
}

.dashboard-header-actions-buttons {
	display: flex;
	border-left: 1px solid var(--c-gray-600);
	margin-left: 2rem;
	padding-left: 2rem;

	& > * + * {
		margin-left: 1rem;
	}
}

.dashboard-header-mobile {
	display: flex;
  	align-items: center;
	margin-right: 110px;
	margin-left: -50px;
}

.tabs {
	display: flex;
	justify-content: space-between;
	color: var(--c-text-tertiary);
	border-bottom: 1px solid var(--c-gray-600);
	a {
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin: 10px;
		color: white;
		text-decoration: none;
		border-top: 2px solid transparent;
		display: inline-flex;
		transition: 0.25s ease;
		&.active,
		&:hover,
		&:focus {
			color: #038c93;
			border-color: var(--c-text-primary);
		}
	}
}


.dashboard-header-logo{
	height: 80px;
	
	padding-top: 0;
	margin-top: 0;
	display: flex;
	flex-direction: row;
	@media (max-width: 1000px){
		display: flex;
		align-items: center;
		padding-left: 50px;
	}
}



.dashboard-logo {
	display: flex;
	align-items: center;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--c-gray-600);
	@media (max-width: 1200px) {
		border-bottom: 0;
	}
}

.dashboard-logo-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 110px;
	height: 75px;
	@media (max-width:1000px){
	justify-content: start;
		margin-top: 20px;
		margin-left: 0;
	}
}

.logo-title {
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 35px;
	
}


.dashboard-header.menu-open {
	.mobile-menu {
	  transform: translateX(0);
	  z-index: 999;
	}
  }
  
  .mobile-menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #1f1f1f; /* You can adjust the background color */
	width: 100svw; /* You can adjust the width */
	padding: 2rem;
	box-sizing: border-box;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
  
	a {
	  display: block;
	  color: white;
	  text-decoration: none;
	  padding: 1rem;
	  font-size: 1.2rem;
	  border-bottom: 1px solid #444; /* You can adjust the border color */
	}
  }