.contacts {
	display: flex;
	flex-direction: column;
	align-items: center; /* Center items horizontally */
  }
  
  .contact {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 0.875rem;
	color: white;
	border-radius: 20px;
  
	@media (max-width: 1000px) {
	  flex-direction: column; /* Stack items vertically on small screens */
	}
  }
  
  .contact-details {
	display: flex;
	flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
	width: 100%; /* Ensure the details take up the full width */
	align-items: center;
  
	@media (max-width: 1000px) {
	  margin-left: 0; /* Remove margin on small screens */
	  justify-content: center; /* Center items horizontally on small screens */
	}
  }
  
  .contact-details div {
	flex: 1; /* Each detail takes up equal space */
	width: calc(25% - 1rem); /* Set the width to 25% of the container width minus the margin */
	margin-right: 2rem; /* Add space between detail items */
  
	&:last-child {
	  margin-right: 0; /* Remove margin for the last detail item */
	  color: white;
	}
  }
  
  dd {
	color: rgb(255, 255, 255);
	margin-top: 2px;
	max-width: 80px;
	white-space: nowrap; /* Prevent text from wrapping */
  }
  
  dt {
	color: rgb(255, 255, 255);
	max-width: 40px;
	margin-left: 10px;
	white-space: nowrap; /* Prevent text from wrapping */
  }
  
  .contact-counter {
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
	justify-content: center;
	text-align: center;
	width: 50%;
	background: linear-gradient(to right, #234a3c, #406c5e);
  
	@media (max-width: 1000px) {
	  width: 50%;
	}
  }
  
  .message-container {
	max-height: 100px; /* Adjust the maximum height as needed */
	overflow-y: auto; /* Enable vertical scrolling if the content overflows */
  }