@font-face {
	font-family: 'SF';
	src: url('../../../../assets/SF.OTF');
}

.contact-section {
	margin-top: 2.5rem;
	@media (width <= 800px) {
		margin-top: 0;
	}
	.gen-leads{
		@media(max-width:1000px){
			.contact-counter{

			}
		}
	}
}

.contact-section-header {
	display: flex;
	align-items: center;
	width: 100%;
	padding-bottom: 0.75rem;
	border-bottom: 1px solid var(--c-gray-600);
	
	h2 {
		font-family: 'SF';
		font-size: 2rem;
		background-image: linear-gradient(to right, #3e7461, #96c9b7);
		background-clip: text;
		/* Fallback: Set a background color. */
		background-color: white;
		font-weight: bolder;
		/* Create the gradient. */
		font-family: 'SFBOLD';
		
		/* Set the background size and repeat properties. */
		background-size: 100%;
		background-repeat: repeat;
	
		/* Use the text as a mask for the background. */
		/* This will show the gradient as a text color rather than element bg. */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
	}
	@media (width <= 800px){
		justify-content: center;
		padding-top: 0;
	}
}

.contacts {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
	@media(max-width: 800px){
		align-items: center;
	}
}

.contact {
	display: flex;
	align-items: center;
	width: auto;
	height: 120px;
	flex-direction: row;
	font-size: 0.875rem;
	color: black;
	background-color: rgb(248, 236, 236);
	border-radius: 20px;
	padding: 10px;
	border:3px solid #3e7461;
	
	@media (max-width: 1000px) {
		align-items: center;
		flex-direction: column;
	}
	& + * {
		margin-top: 2rem;
	}
}
.contact img{
	height: 100px;
}

.contact-description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	margin-left: 10%;
	color: rgb(224, 222, 222);
}

.contact-description h1 {
	flex: 1;
	text-align: center;
}

.contact-logo {
	border-radius: 4px;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.contact-logo svg{
		width: 70px;
		height: 100px;
		color: darkgray;
}

.contact-details {
	margin-left: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	flex: 1;
	@media (max-width: 1000px) {
		flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
	}
	div {
		width: calc(100% / 3 - 1rem);
		@media (max-width: 1000px) {
			width: 100%;
		}
		& + div {
			margin-left: 1rem;
			@media (max-width: 1000px) {
				margin-left: 0;
				margin-top: 1rem;
			}
		}
	}

	dd {
		color: var(--c-text-tertiary);
		margin-top: 2px;
		margin-left: 2rem;
	}
	dt{
		margin-left: 2rem;
		padding: 2px;
	}
	.contact-message {
    margin-left: 4rem;

    @media (max-width: 1000px) {
      margin-left: 0;
      margin-right: 0; /* Reset margin for smaller screens */
    }

    &.full-width-message {
      @media (max-width: 1000px) {
        margin-left: -4rem; /* Compensate for the margin applied earlier */
        margin-right: -4rem; /* Compensate for the margin applied earlier */
        width: calc(100% + 8rem); /* 4rem margin on each side */
      }
    }
  }
}

.contact-counter {
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
	background: linear-gradient(to right, #19362c, #1d332c);
	@media (max-width: 1000px){
		width: 50%;
	}
}
.gen-leads{
	@media(max-width: 1000px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

