.contact-section {
	margin-top: 2.5rem;
	@media (width <= 800px) {
		margin-top: 0;
	}
	.gen-leads{
		@media(max-width:1000px){
			.contact-counter{

			}
		}
	}
}

.contact-section-header {
	display: flex;
	align-items: center;
	width: 100%;
	padding-bottom: 0.75rem;
	border-bottom: 1px solid var(--c-gray-600);
	h2 {
		font-size: 1.5rem;
	}
	@media (width <= 800px){
		justify-content: center;
		padding-top: 0;
	}
}

.contacts {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
	@media(max-width: 800px){
		align-items: center;
	}
}

.contact {
	display: flex;
	align-items: center;
	width: auto;
	font-size: 0.875rem;
	background-color: #313131;
	border-radius: 20px;
	padding: 10px;
	@media (max-width: 1000px) {
		align-items: centert;
		flex-direction: column;
	}
	& + * {
		margin-top: 2rem;
	}
}

.contact-logo {
	border-radius: 4px;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.contact-logo svg{
		width: 70px;
		height: 100px;
		color: darkgray;
}

.contact-details {
	margin-left: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	flex: 1;
	@media (max-width: 1000px) {
		flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
	}
	div {
		width: calc(100% / 3 - 1rem);
		@media (max-width: 1000px) {
			width: 100%;
		}
		& + div {
			margin-left: 1rem;
			@media (max-width: 1000px) {
				margin-left: 0;
				margin-top: 1rem;
			}
		}
	}

	dd {
		color: var(--c-text-tertiary);
		margin-top: 2px;
		margin-left: 2rem;
	}
	dt{
		margin-left: 2rem;
		padding: 2px;
	}
	.contact-message {
    margin-left: 4rem;

    @media (max-width: 1000px) {
      margin-left: 0;
      margin-right: 0; /* Reset margin for smaller screens */
    }

    &.full-width-message {
      @media (max-width: 1000px) {
        margin-left: -4rem; /* Compensate for the margin applied earlier */
        margin-right: -4rem; /* Compensate for the margin applied earlier */
        width: calc(100% + 8rem); /* 4rem margin on each side */
      }
    }
  }
}

.contact-counter {
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
	background-color: #00544F;
	@media (max-width: 1000px){
		width: 50%;
	}
}
.gen-leads{
	@media(max-width: 1000px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

