@font-face {
	font-family: 'SF';
	src: url('https://cdn.shopify.com/s/files/1/0733/7767/7577/files/SF.OTF?v=1712083466');
}
@font-face {
	font-family: 'SFBOLD';
	src: url('https://cdn.shopify.com/s/files/1/0733/7767/7577/files/SFBOLD.OTF?v=1712083466');
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    font-family: 'SF';
  }
  
  .modal-content {
    width: 80vw;
    height: auto;
    margin-top: 20%;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 100%;
    cursor: pointer;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }


  
  .modal-title{
    background:linear-gradient(45deg, #19362c, #75c5aa);
    background-clip: text;
    margin-left: 5px;
    font-size: 2rem;
    bottom: 0;
    margin-top:0;
    background-color: white;
    font-weight: bolder;
    font-family: 'SFBOLD';
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  .modal-overlay label {
    margin-bottom: 8px;
    color: black;
    align-self: flex-start; 
  }

  input::placeholder{
    color:white;
  }
  
  textarea::placeholder{
    color: white;
   
  }
  
  input,
  textarea {
    margin-bottom: 16px;
    padding: 8px;
    border: .5px solid #1f1f1f;
    border-radius: 4px;
    background-color: #ffff;
    color: #1f1f1f;
  }
  
textarea {
    height: 20vh;
    color: white;
    border: .5px solid #1a1a1a;
}

  button {
    padding: 10px;
    background:linear-gradient(45deg, #19362c, #497c6b);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  .modal-overlay h2 {
    color:  #4d8270;
    font-family: 'chivo';
  }

