@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



:root {
	--c-gray-900: #000000;
	--c-gray-800: #1f1f1f;
	--c-gray-700: #2e2e2e;
	--c-gray-600: #313131;
	--c-gray-500: #969593;
	--c-gray-400: #a6a6a6;
	--c-gray-300: #bdbbb7;
	--c-gray-200: #f1f1f1;
	--c-gray-100: #ffffff;
	--c-green-500: #45ffbc;
	--c-olive-500: #e3ffa8;
	--c-white: var(--c-gray-100);
	--c-text-primary: var(--c-gray-100);
	--c-text-secondary: var(--c-gray-200);
	--c-text-tertiary: var(--c-gray-500);
}

body {
	font-family: "SF", sans-serif;
	color: var(--c-text-primary);
	background-color:#222428;
	display: flex;
	justify-content: center;
	overflow-x:hidden;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

button,
select,
input,
textarea {
	font: inherit;
}

a {
	color: inherit;
}

.responsive-wroverviewer {
	width: 90%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.overview {
	display: flex;
	justify-content: space-between; // Align content to the start (left) of the screen
	width: 100vw; // Full width of the viewport
	overflow-x: hidden;
	height: 100vh;
	.overview-body {
	  display: flex;
	  justify-content: space-between; // Space between main content and sidebar
	  width: 100%; // Take up full width
	  padding: 0; // Remove any default padding
	  margin: 0; // Remove any default margin
  
	  .overview-body-navigation {
		width: 15%;
		background-color: #222428; // Example background color
		padding: 20px; // Add padding as needed
		display: flex;
		margin-left: 50px;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		text-align: center;
		box-sizing: border-box; // Include padding and border in the element's total width and height
		border-right: 1px solid #454545;
	  }
  
	  .overview-body-main-content {
		flex-grow: 1; // Allow main content to grow to fill remaining space
		padding: 10px; // Add padding as needed
		padding-top: 0;
		width: 70vw;
			box-sizing: border-box; // Include padding and border in the element's total width and height
	  }
  
	 
	}
  
  }


  .side-navigation nav{
	width: 100%;
	margin-left: 40px;
  }
  .side-navigation a {
	display: flex;
	flex-direction: row; /* Ensure icons and text are on the same line */
	align-items: center; /* Align items vertically */
	text-decoration: none;
	padding: 10px;
	color: #d6d6d6; /* Set text color to white */
	&:hover{
		cursor: pointer;
		background-color: #454545;
		border-radius: 10px;
	}
  }

  .side-navigation a img{
	height: 30px;
  }

  .dropdown-header {
	display: flex;
	flex-direction: row; /* Ensure icons and text are on the same line */
	align-items: center; /* Align items vertically */
	text-decoration: none;
	padding: 10px;
	color: #d6d6d6; 
	&:hover{
		cursor: pointer;
		background-color: #454545;
		border-radius: 10px;
	}
  }

  .dropdown-wrapper:hover{
	cursor: pointer;
  }

  .dropdown-header img {
	height: 30px;
  }

.dropdown-wrapper ul {
	list-style-type: none;
	padding-left: 30px;
	margin: 0;
}

.dropdown-wrapper  li {
	padding-bottom: 10px;
	&:hover{
		cursor: pointer;
		color: #1A3930;
	}
} 
.sidenav-logo {
	display: flex;
	align-items: center;
  }
  
  .sidenav-logo-icon img {
	height: 60px;
  }

  .sidenav-title{
	text-align: center;
	align-items: center;
	margin-bottom:25px;
	font-family: 'SFbold';
  }


  .lead-wrapper {
	background-color: #34353C; /* Add a background color for visibility */
	padding: 20px; /* Adjust padding as needed */
	border-radius: 10px; /* Add border radius for aesthetics */
	height: 500px; /* Set a fixed height */
	position: relative; /* Set relative positioning for absolute positioning of children */
  }
  
  .pagination-container {
	position: absolute; /* Set absolute positioning */
	bottom: 0; /* Align pagination container to the bottom */
	left: 20px; /* Align pagination container to the left */
	display: flex; /* Use flexbox for layout */
	justify-content: space-between; /* Align items with space between */
	width: calc(100% - 40px); /* Adjust width to account for padding */
  }
  
 

.footer {
	margin-top: auto;
	position: relative;
	h1 {
		font-size: 1.5rem;
		line-height: 1.125;
		display: flex;
		align-items: flex-start;
		small {
			font-size: 0.5em;
			margin-left: 0.25em;
		}
	}

	div {
		border-top: 1px solid var(--c-gray-600);
		margin-top: 1.5rem;
		padding-top: 1rem;
		font-size: 0.75rem;
		color: var(--c-text-tertiary);
	}
}

.navigation {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: white;
	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		transition: 0.25s ease;

		* {
			transition: 0.25s ease;
		}

		i {
			margin-right: 0.75rem;
			font-size: 1.25em;
			flex-shrink: 0;
		}

		& + a {
			margin-top: 1.25rem;
		}

		&:hover,
		&:focus {
			transform: translateX(4px);
			color: #038c93;
		}
	}
}




.tiles {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1rem;
	row-gap: 1rem;
	margin-top: 1.25rem;
	@media (max-width: 700px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.tile {
	padding: 1rem;
	border-radius: 8px;
	background-color: var(--c-olive-500);
	color: var(--c-gray-900);
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	transition: 0.25s ease;

	&:hover {
		transform: translateY(-5px);
	}

	&:focus-within {
		box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
	}

	&:nth-child(2) {
		background-color: var(--c-green-500);
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-green-500);
		}
	}
	&:nth-child(3) {
		background-color: var(--c-gray-300);
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
		}
	}

	a {
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;

		.icon-button {
			color: inherit;
			border-color: inherit;
			&:hover,
			&:focus {
				background-color: transparent;
				i {
					transform: none;
				}
			}
		}

		&:focus {
			box-shadow: none;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}


.pagination li{
	display: inline-block;
	margin:10px;
}



.active {
	background-color: black;
}
.service-section-header{
	width: 80%;
	display: inline-flex;
}


.service-section {
	& > h2 {
		font-size: 1.5rem;
		margin-bottom: 1.25rem;
	}
}

.service-section-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: none;
	& > * + * {
		margin-left: 1.25rem;
	}

	@media (max-width: 1000px) {
		display: none;
	}
}

.service-section-footer {
	color: var(--c-text-tertiary);
	margin-top: 1rem;
}

.search-field {
	display: flex;
	flex-grow: 1;
	position: relative;
	input {
		width: 100%;
		padding-top: 1.5rem;
		border: 0;
		border-bottom: 1px solid var(--c-gray-600);
		background-color: transparent;
		padding-left: 1.5rem;
	}

	i {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.dropdown-field {
	display: flex;
	flex-grow: 1;
	position: relative;
	select {
		width: 100%;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border: 0;
		border-bottom: 1px solid var(--c-gray-600);
		background-color: transparent;
		padding-right: 1.5rem;
		color: var(--c-text-tertiary);
		width: 100%;
	}

	i {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.flat-button {
	border-radius: 6px;
	background-color: var(--c-gray-700);
	padding: 0.5em 1.5em;
	border: 0;
	color: var(--c-text-secondary);
	transition: 0.25s ease;
	cursor: pointer;
	&:hover,
	&:focus {
		background-color: var(--c-gray-600);
	}
}

.mobile-only {
	display: none;
	@media (max-width: 1000px) {
		display: inline-flex;
	}
}



.payments {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
}

.payment {
	display: flex;
	align-items: center;
	& + * {
		margin-top: 1rem;
	}
}

.profile-card {
	width: 125px;
	padding: 0.375rem;
	aspect-ratio: 3 / 2;
	flex-shrink: 0;
	border-radius: 6px;
	color: var(--c-gray-800);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 0.75rem;
	font-weight: 600;
	&.green {
		background-color: var(--c-green-500);
	}

	&.olive {
		background-color: var(--c-olive-500);
	}

	&.gray {
		background-color: var(--c-gray-300);
	}

	span:last-child {
		align-self: flex-end;
	}
}

.payment-details {
	display: flex;
	width: 100%;
	flex-direction: column;
	margin-left: 1.5rem;
	h3 {
		font-size: 1rem;
		color: var(--c-text-tertiary);
	}

	div {
		margin-top: 0.75rem;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		border-top: 1px solid var(--c-gray-600);
		border-bottom: 1px solid var(--c-gray-600);
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 1;

		span {
			font-size: 1.5rem;
		}
	}
}

.filter-options {
	display: hidden;
	margin-left: 1.25rem;
	padding-left: 1.25rem;
	border-left: 1px solid var(--c-gray-600);
	display: flex;
	align-items: center;
	flex: 1 1 auto;

	p {
		& + * {
			margin-left: auto;
			margin-right: 0.75rem;
		}
		color: var(--c-text-tertiary);
		font-size: 0.875rem;
		@media (max-width: 1000px) {
			display: none;
		}
	}
}



.reply button {
	margin-left: 2rem;
	font-size: 1.125rem;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid white;
	color: white;
	background-color: #1A3930;
	flex-shrink: 0;
	display: flex;
	justify-content: flex-end;
	@media (max-width: 1000px) {
		margin-left: 0;
		margin-top: 1.25rem;
		width: 100%;
		justify-content: flex-start;
	}
}

.payment-section {
	& > h2 {
		font-size: 1rem;
	}
	width: 100%;
}

.payment-section h2{
	font-size: 1rem;
}

.pagination li:hover{
	cursor: pointer;
}


.download-csv-button {
	position: absolute;
	bottom: 20px; /* Adjust as needed */
	right: 20px;
	border-radius:5px; /* Adjust as needed */
	color: white;
	background-color: white !important;
  }

  


.pagination li.active {
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px; /* Example background color for active page */
	color: black; /* Example text color for active page */
  }

.payment-section-header {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	p {
		color: var(--c-text-tertiary);
		font-size: 0.875rem;
	}

	div {
		padding-left: 1rem;
		margin-left: auto;
		display: flex;
		align-items: center;
		& > * + * {
			margin-left: 0.5rem;
		}
	}
}

.card-button {
	display: flex;
	width: 50px;
	height: 34px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: transparent;
	transition: 0.25s ease;
	border-radius: 4px;
	border: 2px solid var(--c-gray-600);
	color: #1A3930;
	cursor: pointer;
	&.mastercard svg {
		max-height: 15px;
	}

	&:focus,
	&:hover,
	&.active {
		color: var(--c-gray-800);
		background-color: var(--c-white);
		border-color: var(--c-white);
	}
}

.gen-leads{
	background-color: #1A3930;
}
.faq {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	p {
		color: var(--c-text-tertiary);
		font-size: 0.875rem;
	}

	div {
		margin-top: 0.75rem;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		border-top: 1px solid var(--c-gray-600);
		border-bottom: 1px solid var(--c-gray-600);
		font-size: 0.875rem;
		display: flex;
		align-items: center;

		label {
			padding-right: 1rem;
			margin-right: 1rem;
			border-right: 1px solid var(--c-gray-600);
		}

		input {
			border: 0;
			background-color: transparent;
			padding: 0.25em 0;
			width: 100%;
		}
	}
}

.payment-section-footer {
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
}

.save-button {
	border: 1px solid currentColor;
	color: var(--c-text-tertiary);
	border-radius: 6px;
	padding: 0.75em 2.5em;
	background-color: transparent;
	transition: 0.25s ease;
	cursor: pointer;
	&:focus,
	&:hover {
		color: var(--c-white);
	}
}

.settings-button {
	display: flex;
	align-items: center;
	color: var(--c-text-tertiary);
	background-color: transparent;
	border: 0;
	padding: 0;
	margin-left: 1.5rem;
	cursor: pointer;
	transition: 0.25s ease;
	i {
		margin-right: 0.5rem;
	}
	&:focus,
	&:hover {
		color: var(--c-white);
	}
}

input,
select,
a,
textarea,
button {
	&:focus {
		outline: 0;
		box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
	}
}


@media (max-width: 768px) {
	.overview-body {
	 align-items: center;
	 justify-content: center;
	 padding: 10px;
	  grid-template-columns: 1fr; /* Change to a single column layout on small screens */
	  column-gap: 0; /* Remove the gap between columns */
	}
  
	.overview-body-main-content {
		padding: 10px;
	  width: 100%; /* Take up the full width on small screens */
	}
  
	.overview-body-sidebar {
	  width: 100%; /* Take up the full width on small screens */
	}
  
	.navigation {
	  display: none; /* Hide the navigation links on small screens */
	}
  
	.mobile-nav {
	  display: flex;
	  justify-content: flex-end;
	  margin-right: 1.5rem;
	  margin-top: 1.5rem;
	}
  
	.mobile-nav-button {
	  width: 42px;
	  height: 42px;
	  border-radius: 50%;
	  border: 1px solid var(--c-gray-500);
	  color: var(--c-text-primary);
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  cursor: pointer;
	  transition: 0.25s ease;
	  flex-shrink: 0;
  
	  &:hover,
	  &:focus {
		background-color: var(--c-gray-600);
		box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
	  }
	}
  
	.mobile-nav-links {
	  display: flex;
	  flex-direction: column;
	  background-color: var(--c-gray-800);
	  position: absolute;
	  top: 64px;
	  right: 0;
	  width: 100%;
	  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	  border-radius: 0 0 6px 6px;
	  overflow: hidden;
	  max-height: 0;
	  transition: max-height 0.3s ease;
	}
  
	.mobile-nav-links a {
	  padding: 1rem;
	  text-decoration: none;
	  color: var(--c-text-tertiary);
	  transition: 0.25s ease;
  
	  &:hover {
		background-color: var(--c-gray-600);
	  }
	}
  
	.mobile-nav-links.active {
	  max-height: 300px; /* Adjust the maximum height as needed */
	}
  }



  .card-actions{
	list-style-type: none;
	margin-left: 0;
	padding-left: 20px;
	color: white;
  }
  .card-actions li{
	margin-bottom: 10px;
  }
  .card-actions li:hover{
	color: #1A3930;
	cursor: pointer;
  } 	