
.msform {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  font-family: 'chivo';
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top:0;
  font-family: 'SF';

  fieldset {
    width: 100%;
    background:rgb(255, 255, 255);
    border: 0 none;
    border-radius: 10px;
    font-family: 'chivo';
    box-shadow: 0 0 15px 1px rgba(37, 37, 37, 0.9);
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
    &:not(:first-of-type) {
      display: none;
    }
  }

  // Inputs
  input,
  textarea {
    font-family: 'SF';
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    width: 70%;
    box-sizing: border-box;
    color: white;
    background: linear-gradient(to right, #26473c, #41675a);
    font-size: 13px;
  }
  input::placeholder{
    color: white;
  }

  // Buttons
  .action-button {
    width: 170px;
    background: #393737;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 10px;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px white, 0 0 0 3px #26473c;
    }
  }

  // Headings
  .fs-title {
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    top: 0;
    margin-bottom: 10px;
    font-family: 'SFBOLD';
  }

  .fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #9c9c9c;
    margin-bottom: 20px;
  }


  // Progressbar
  #progressbar {
    padding-left: 0;
    width: 100%;
    left: 0;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-family: 'SFBOLD';
    /* CSS counters to number the steps */
    counter-reset: step;

    li {
      list-style-type: none;
      color: white;
      text-transform: uppercase;
      font-size: 15px;
      height: auto;
      width: 33.33%;
      float: left;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center; /* Center the content horizontally */

      &:before {
        content: counter(step);
        counter-increment: step;
        width: 40px;
        line-height: 40px;
        display: block;
        font-size: 25px;
        margin-bottom: 10px;
        color: black;
        background: white;
        border-radius: 3px;
        margin: 0 10px; /* Add margin to separate the numbers */
        position: relative; /* Add position relative to create stacking context */
      }

      // Progressbar connectors
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        padding-top: 10px;
        background: white;
        position: absolute;
        left: -65%;
        top: 15px;
        z-index: -1; /* Put it behind the numbers */
      }

      &:first-child:after {
        // Connector not needed before the first step
        content: none;
      }

      // Marking active/completed steps green
      // The number of the step and the connector before it = green
      &.active {
        &:before,
        &:after {
          background: #26473c;
          color: white;
        }
      }
    }
  }

  // File input
  .file-input {
    display: none; /* Hide the default file input */
    
  }

  .file-label {
    display: inline-block;
    padding: 10px 15px;
    width: 200px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #26473c;
    cursor: pointer;
    border-radius: 5px;
    &:focus {
      outline: 1px dotted #000; /* Add focus styling if needed */
    }
  }
}


.profile-picture-container{
  margin:20px;

}


.createcard-container {
  display: flex;
  flex-direction: column;
  margin-top: 0 ;
}


@media (max-width: 800px){
  .createcard-container{
    width: 100vw;
  }
  
  .msform {
    width: 90vw;
  }

  .msform input{
    background: white;
    border: 1px solid #26473c;
  }
  .msform .fs-title {
    color: #26473c;
  }
  .msform input::placeholder{
    color: #26473c;
  }

 .msform .action-button{
    background-color: #26473c;
  }

  .msform .previous{
    
  }
}

.social-input-container {
  display: flex;
  flex-direction: column; /* Aligns the social inputs vertically */
}

.social-input {
  display: flex;
  align-items: center; /* Aligns the icon and input field horizontally */
  margin-bottom: 10px; /* Adds space between each social input */
}

.social-input img {
  width: 45px;
  height: 45px;
  padding-bottom: 15px; /* Adjust the size of the social icons */
}
