@font-face {
	font-family: 'SF';
	src: url('https://cdn.shopify.com/s/files/1/0733/7767/7577/files/SF.OTF?v=1712083466');
}
@font-face {
	font-family: 'SFBOLD';
	src: url('https://cdn.shopify.com/s/files/1/0733/7767/7577/files/SFBOLD.OTF?v=1712083466');
}



.msform {
  width: 100%;
  font-family: 'SF';
  text-align: center;
  position: relative;

  fieldset {
    width: 100%;
    height: 100%;
    border: 0 none;
    border-radius: 10px;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &:not(:first-of-type) {
      display: none;
    }
  }

  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .col {
    flex: 1;
    margin-right: 10px;
  }

  label {
    display: block; /* Ensure labels occupy full width */
    margin-bottom: 5px;
    font-weight: 400;
    float: left;
    margin-left: 40px;
    color: rgb(117, 117, 117);
  }

  input[type="text"],
  input[type="tel"] {
    width: calc(100% - 10px);
    background-color: white;
    color: black; /* Adjust for label's margin */
  }

  input,
  textarea {
    font-family: 'SF';
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    width: 70%;
    box-sizing: border-box;
    color: black;
   
    font-size: 13px;
    &::placeholder {
      color: white;
    }
  }

  .action-button {
    width: 170px;
    background: #26473c;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 10px;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px white, 0 0 0 3px #26473c;
    }
  }

  .createcard-container {
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 15px 1px rgba(37, 37, 37, 0.9);
  }
  
  .card-content {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .side-navigation {
    width: 20vw;
    height: 100%;
    background-color: #f0f0f0;
    border-right: 2px solid #ccc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .side-navigation ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
  }
  
  .side-navigation li {
    cursor: pointer;
    color: black;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  .side-navigation li.active {
    background-color: #26473c;
    color: white;
  }
  
  .form-content {
    flex-grow: 1;
    padding: 20px;
    display: flex; /* Add this */
    justify-content: center; /* Add this */
  }
  
  .msform {
    width: 100%; /* Adjust the width of the form */
    margin: 50px auto;
    font-family: 'SF';
    text-align: center;
    position: relative;
  }
  
  .createcard-component {
    border: 1px solid black;
    width: 30%;
    background-color: rgb(15, 15, 15);
    height: auto; /* Adjust the width of the card component */
    display: flex; /* Add this to make the card take up the full width */
    justify-content: center; /* Add this to horizontally center the card */
  }

  .createcard-component > * {
    width: 100%;
    border: none;
    background: transparent;
  }
  


  .fs-title {
    font-size: 30px;
    text-transform: capitalize;
    color: black;
    margin-bottom: 10px;
    font-family: 'SFBOLD';
    text-align:left;
    margin-left: 5%;
  }

  .fs-subtitle {
    font-weight: normal;
    font-size: 15px;
    color: #9c9c9c;
    margin-bottom: 20px;
    text-align:left;
    margin-left: 5%;
  }

  #progressbar {
    padding-left: 0;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-family: 'SFBOLD';
    counter-reset: step;

    li {
      list-style-type: none;
      color: white;
      text-transform: uppercase;
      font-size: 15px;
      height: auto;
      width: 33.33%;
      float: left;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        content: counter(step);
        counter-increment: step;
        width: 40px;
        line-height: 40px;
        display: block;
        font-size: 25px;
        margin-bottom: 10px;
        color: black;
        background: white;
        border-radius: 3px;
        margin: 0 10px;
        position: relative;
      }

      &:after {
        content: '';
        width: 100%;
        height: 2px;
        padding-top: 10px;
        background: white;
        position: absolute;
        left: -65%;
        top: 15px;
        z-index: -1;
      }

      &:first-child:after {
        content: none;
      }

      &.active {
        &:before,
        &:after {
          background: #26473c;
          color: white;
        }
      }
    }
  }

  .file-input {
    display: none;
  }

  .file-label {
    display: inline-block;
    padding: 10px 15px;
    width: 200px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #26473c;
    cursor: pointer;
    border-radius: 5px;
    &:focus {
      outline: 1px dotted #000;
    }
  }
}

.createcard-container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  justify-content: center;
  align-self: center;
  margin-left: 5vw;
  top: 0;
}

@media (max-width: 800px) {
  .msform .createcard-container {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  .createcard-container{
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }

  .msform .card-content{
    flex-direction: column;
  }

  .msform .side-navigation{
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .msform .createcard-component{
    width: 100%;
  }

  .msform .side-navigation ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .msform .side-navigation ul li {
    height: auto;
  }
  .msform {
    width: 100vw;
    left: 0;
  }
  .msform .msform{
    justify-self: center;
    margin: 0;
    left: 0;
    padding-right: 50px;
  }

  .msform fieldset {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .msform input {
    background: white;
    border: 1px solid #26473c;
  }

  .msform .fs-title {
    color: #26473c;
  }

  .msform input::placeholder {
    color: #26473c;
  }

  .msform .action-button {
    background-color: #26473c;
  }
}

.msform .next.action-button  {
  background-color: #1a1a1a;
}

.social-input-container-wrapper {
  height: 400px; /* Adjust height as needed */
  overflow: auto;
}

.msform .next.action-button  {
  background-color: #1a1a1a;
}

.social-input-container {
  display: flex;
  flex-direction: column;
}

.social-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.social-input img {
  width: 45px;
  height: 45px;
  padding-bottom: 15px;
}


.profile-picture-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.upload-icon {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  margin-right: 0;
}
.profile-picture-container label{
  margin-left: 10px;
}

.social-input-container-wrapper {
  height: 400px; /* Adjust height as needed */
  overflow: auto;
}