@font-face {
  font-family: 'akira';
  src: url('https://cdn.shopify.com/s/files/1/0733/7767/7577/files/akira.otf?v=1712083465');
}


@font-face {
  font-family: 'Montserrat';
  src: url('https://cdn.shopify.com/s/files/1/0733/7767/7577/files/Montserrat-Medium.ttf?v=1712083466');
}

@font-face {
	font-family: 'SF';
	src: url('https://cdn.shopify.com/s/files/1/0733/7767/7577/files/SF.OTF?v=1712083466');
}
@font-face {
	font-family: 'SFBOLD';
	src: url('https://cdn.shopify.com/s/files/1/0733/7767/7577/files/SFBOLD.OTF?v=1712083466');
}




.card-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  height: 100%;
  width: 100%;
  justify-content: start;
  overflow: hidden;
  position: relative;
  overflow-y: hidden;
  z-index: 3;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: 'SF';
  border-radius: 1.25rem;
 border:1px solid white;
}
.card-component {
position: relative; /* Add this line to enable absolute positioning for child elements */
}

.card-body {
display: flex;  
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 50px;
}


.card-image {
  margin-top: 80px;
  border-radius: 50%;
  min-height: 130px;
  min-width: 130px;
  max-width: 130px;
  max-height: 130px;
  border: 2px solid #fff;
}
.card-component-header{
  z-index: 999;
  min-height: 150px;
}


.card-body h3 {
  font-size: 1.8rem;
  font-family: 'SFBOLD';
  font-weight: lighter;
  margin-bottom: 0;
  margin-top:0;
  color: white;
}

.card-body h3 span{
  background:linear-gradient(45deg, #19362c, #75c5aa);
  background-clip: text;
  margin-left: 5px;
  margin-top:0;
    background-color: white;
    font-weight: bolder;
    font-family: 'SFBOLD';
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.card-body p{
  font-size: 1.5rem;
  font-family: 'Montserrat';
  color: white;
  margin-top: 0;
}
.card-body h5 {
font-size: 1.2rem;
color:rgb(66, 66, 66);
font-family: 'SF';
text-transform: uppercase;
margin-bottom: 0px;
margin-top: 10px;
color: white;
}


.cards-container {
  height: auto;
  min-height: auto;
  margin: 0 !important;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

@media (width >= 500px) {
  .card-component {
    margin-top: 0px;
    margin-bottom: 0;
    width: 400px;
    height: auto;
  min-height: auto;
    background: black;
  }
  
  
}




@media (width <= 700px) {
  .social-icons-container{
    height: 100%;
    width: 100vw;
  }
  .social-icons{
    width: 100%;
   
  
  }
  .card-component{
    height: 100%;
    margin: 0;
    width: 100vw;
    margin-bottom: 0;
    border: none;
    border-radius: 0px;
    overflow: hidden;
    z-index: 999;
  }
  .card-component::before {
    content: "";
    position: absolute;
    top: -850px;
    left: 50%;
    translate: -50% 0;
    width: 1000px;
    height: 1000px;
    border-radius: 0%;
  }

  .cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}

.card-component .logo {
  border: none;
  position: absolute;
  top: 0px;
  left: 50%;
  translate: -50% 0;
  width: 130px;
  height: 144px;
}

.card-component > h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 30px;
  color: #2a3444;
}


.card-buttons{
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-buttons button {
   background: linear-gradient(to right,#161616, #2e2e2e);
   padding: 13px 10px;
   width: 150px;
   color: white;
   border-radius: 5px;
   border: 0.5px solid white;
   margin: 10px;
   font-family: 'SFBOLD';
   font-weight: 100;
   word-wrap: normal;
   letter-spacing: 1px;
   font-size: .6rem;
}

.social-icons-container {
  flex: 1;
  width: auto;
  overflow-y: auto;
  height: auto;
  overflow-x: hidden;
   /* Adjust the max-height to leave space for other elements */
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 20px;
  margin-top: 10%;
  padding:10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px; /* Add padding to prevent overlapping with the card-footer */
}
@media (max-width: 1000px){
.card-buttons button{
  width: 37vw;
}
}



.social-icons {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 60px; /* Adjust the gap between icons */
margin-top: 10%;
width: auto;
justify-content: center; /* Align the icons horizontally to the center */
align-items: center; /* Align the icons vertically to the center */

}

.social-icons > a {
display: flex; /* Ensure the link behaves as a flex container */
justify-content: center; /* Center the content horizontally within eaheader link */
align-items: center; /* Center the content vertically within each link */
max-width: 50px;
max-height: 50px;
min-height: 50px;
min-width: 50px;
}

.social-icons img {
height: 70px;
width: 70px;
padding: 0;
margin: 0;
}
 .spotify, .url{
  height: 60px !important;
}

.social-icons svg {
height: 80px; /* Adjust the height of the icons */
width: 80px; /* Adjust the width of the icons */
color: #2274a5;
align-content: center;


}

.card-background {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  top: 20px;
  min-height: 150px;
  max-height: 180px;
  border-radius: 0%;
  background-size: cover; /* This property will make the background image cover the entire container */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: 2px solid #fff;
  background-color: rgb(25, 25, 25);
  box-shadow: 7px 7px 10px rgb(68, 68, 68);
}