  .lead-container{
      display: flex;
      flex-direction: row;
      max-width: 100%;
      justify-content: center;
      align-items: center;
      height: 100%;
  }

  .lead-wrapper {
      background-color: #dbdbdb;
      height: 60vh;
      width: 50vw;
      margin-left: 10%;
      border-radius: 30px;
      position: relative;
    }
    
    .contact-description {
      display: flex;
      justify-content: space-between;
    }
    .pagination-container {
      padding: 20px;
      display: flex;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      width: 100%; /* Take full width */
      position: absolute;
      bottom: 0;
      left: 0;
    }
    
    .pagination {
      list-style-type: none;
      padding-top: 50px;
      margin: 0;
    }
    
    .pagination li {
      display: inline-block;
      margin: 0 5px;
      cursor: pointer;
    }
    
    .active {
      background-color: black;
    }
    
    .download-csv-button {
      position: absolute;
      bottom: 20px;
      right: 20px;
      border-radius: 5px;
      color: white;
      background-color: white !important;
    }
    
    .lead-wrapper + .overview-body-sidebar {
      top: 50px;
      right: 10px;
      position: absolute;
    }


@media (max-width:800px){
  .lead-container{
    display: flex;
    flex-direction: column;
  }

  .lead-wrapper{
    width: 100%;
  }
}